<form autocomplete="off">
    <input type="text" placeholder="Curso" [(ngModel)]="curso.nomeCurso" id="nomeCurso" name="nomeCurso">
    <input type="text" placeholder="Valor" [(ngModel)]="curso.valorCurso" id="valorCurso" name="valorCurso">
    <input type="text" placeholder="Area"  [(ngModel)]="curso.areaCurso" id="areaCurso" name="areaCurso">
    <input type="button" value="Cadastrar" (click)="cadastrar()" *ngIf="id < 0">
    <input type="button" value="Alterar" (click)="atualizar()" *ngIf="id >= 0"> 
</form>

<table>
    <tr>
        <th>Cursos</th>
        <th>Valor</th>
        <th>Área</th>
        <th>Ações</th>
    </tr>
   <tr *ngFor="let curso of vetorCursos; let id=index">
       <td class="curso">{{curso.nomeCurso}}</td>
       <td class="valor">{{curso.valorCurso}}</td>
       <td>{{curso.areaCurso}}</td>
       <td class="acoes">
           <button (click)="excluir(id)" id="excluir">Excluir</button>
           <button (click)="alterar(id)" id="alterar">Alterar</button>
       </td>
   </tr>
</table>